body {
    background-color: #800000;
}
.maroonBG {
    background: #800000;
    color: #FFF;
}
.grayBG {
    background: #808080;
    color: #FFF;
}
.btn-xl{
    width: 40%;
    height: 100px;
    color: #FFF;
    
}
.btn-xl:hover{
    background-color: #700000;  
    color: #DDD;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 3px 2.5px 0 rgba(0,0,0,0.19);
}
#text-large {
    font-size: 50px;
}
a {
	color: #FFF;
}
.center {
	margin-left: auto;
	margin-right: auto;
}