{% load static %}
 
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Academic Department Teaching Assignments Assistant</title>
        <meta name="description" content="An assistant tool that allows schedulers and administrators to develop a schedule to assign teachers to courses.">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
	</head>
	<body>
		{% if user.is_authenticated %}
			<nav class="navbar navbar-expand-md navMaroonBG navAlign">
				<span class="nav-link">Hello, {{request.user.username}}</span>
				<ul class="navbar-nav mr-auto">
					{% if request.user.is_staff %}
						<li class="nav-item">
							<a class="nav-link" href = "{% url 'index' %}";>ADTAA</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href = '/admin/'>Admin</a>
						</li>
					{% elif request.user.group.name == 'Admin' %}
						<li class="nav-item">
							<a class="nav-link" href = "{% url 'index' %}";>ADTAA</a>
						</li>
					{% endif %}
				</ul>
				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">Logout</a>
					</li>
				</ul>
			</nav>
		{% endif %}
			<div class="w-75 mx-auto grayBG" style="padding:2.5%;"> 
				<div class ="w-50 mx-auto rounded  maroonBG">
                    <p id="text-large" class="text-center" style="padding-top:10%; padding-bottom: 10%">Teacher Assignment Assistant</p>
                </div>
				<table class="center table" style="background-color: #606060; color: #FFF;" border="5">
					<tr align="center">
						<th colspan="6">
							<h3>Schedule List</h3>
						</th>
					</tr>
					<tr>
						<th>Last Name</th>
						<th>First Name</th>
						<th>Course #</th>
						<th>Course Title</th>
						<th>Meeting Day</th>
						<th>Meeting Time</th>
					</tr>
					{% for schedule in schedule_list %}
					<tr>
						<td>{{schedule.last_name}}</td>
						<td>{{schedule.first_name}}</td>
						<td>{{schedule.course_num}}</td>
						<td>{{schedule.title}}</td>
						<td>{{schedule.meeting_day}}</td>
						<td>{{schedule.meeting_time}}</td>
					</tr>
					{% endfor %}
				</table>
				<button onclick="window.location.href = '{% url 'create_schedule' %}';" type="button" class="btn maroonBG">Create Schedule</button>
			</div>
		</div>	
		
	</body>
</html>
